@charset "UTF-8";

@media screen and (max-width: 600px) {
    section details summary {
        font-size: 1.1rem; 
        padding: 3%;
    }

    section details .content {
        font-size: 1rem; 
        padding: 3%;
    }

    section details .content ul {
        padding-left: 25px;
    }
}

section details {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

section details summary {
    background-color: #990000;
    padding: 2%;
    margin-top: 1.5%;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

section details .content {
    background-color: #000;
    color: #fff;
    padding: 1.5%;
}

section details .content p {
    margin-bottom: 10px;
    padding-left: 2%;
}

section details .content ul {
    padding-left: 20px;
    margin-bottom: 10px;
}

section details .content ul li {
    margin-bottom: 6px;
    margin-left: 3%;
    font-style: italic;
}

.sem-bolinha {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

section details .sem-bolinha ul li {
    font-style: normal;
}